body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 5.625rem;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: auto;
  text-align: center;
}

hr {
  width: 7%;
  border-style: dotted;
  border-top: none;
  border-width: 5px;
  color: gray;
  margin: auto;
}


.top-container {
  padding-top: 100px;
  background: #E4F9F5;
}

.middle-container {
  margin: 100px 0;
  padding: 10rem 10rem 10rem 10rem;
}

.bot-container {
  background-color: #66BFBF;
  padding: 40px;
}

.pro {
  text-decoration: underline;
}

.mountain {
  width: 27%;
}


.bot-cloud {
  position: absolute;
  left: 300px;
  bottom: 50%;
}
.hoppies{
  padding:2rem 10rem 2rem 10rem;
}
.span-big-word {
  font-weight: bold;
}

.my-pic {
  width: 17%;
}

.skill-row {
  width: 45%;
  margin: 150px auto 150px auto;
  text-align: left;
  line-height: 2;
}

.github-img {
  width: 40%;
  float: left;
  margin-right: 62px;
}

.certificate-img {
  width: 40%;
  float: right;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 20px 10px;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  font-size: 0.75rem;
  color: #EAF6F6;
}

.btn {
  background: #11ccd4;
  background-image: -webkit-linear-gradient(top, #11ccd4, #11999e);
  background-image: -moz-linear-gradient(top, #11ccd4, #11999e);
  background-image: -ms-linear-gradient(top, #11ccd4, #11999e);
  background-image: -o-linear-gradient(top, #11ccd4, #11999e);
  background-image: linear-gradient(to bottom, #11ccd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

li {
  color: gray;
}
.certificate{
  margin: 2rem 15rem 3rem 15rem;

}

/* hoppies section */
.home .carousel-item{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
}
.home .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.home .carousel-item h2{
	font-size: 80px;
	color: #ffffff;
	margin:0 0 10px;
	opacity: 0;
}
.home .carousel-item p{
	font-size: 30px;
	margin:0;
	color: #eeeeee;
	opacity:0;
}
.home .carousel-item.active h2{
	animation: fadeInLeft 0.5s ease forwards;
}
.home .carousel-item.active p{
	animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

.home .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.home .carousel-indicators{
	position: relative;
	margin:0;
}

.home .carousel-indicators li{
	height: 70px;
	width: 70px;
	margin:0 5px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border:3px solid transparent;
	transition: all 0.3s ease;
}
.home .carousel-indicators li.active{
	border-color: #ffffff;
	transform: scale(1.2);
}

.home .carousel-control-next,
.home .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.home .carousel-control-next:hover,
.home .carousel-control-prev:hover{
   box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img,
.home .carousel-control-prev img{
   width: 30px;
}
.home .carousel-control-next{
	right: -90px;
}
.home .carousel-control-prev{
	left: -90px;
}

/*responsive*/
@media(max-width: 767px){
  .home .carousel-control-next,
  .home .carousel-control-prev{
  	display: none;
  }
  .home .carousel-indicators li{
  	height: 60px;
  	width: 60px;
  }
  .home .carousel-item h2{
  	font-size: 45px;
  }
  .home .carousel-item p{
  	font-size: 22px;
  }
}
